:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-light: #f9f9f9;
  --primary-dark: #1a1a1a;
  --text-light: #333;
  --text-dark: #fff;
  --success: #4CAF50;
  --error: #f44336;
  --warning: #ff9800;
  --button-bg-light: #4ae3b5;
  /* Cor de fundo do botão no modo claro */
  --button-bg-dark: #497285;
  /* Cor de fundo do botão no modo escuro */
  --button-text-light: #ffffff;
  /* Cor do texto do botão no modo claro */
  --button-text-dark: #ffffff;
  /* Cor do texto do botão no modo escuro */
  --border-radius: 8px;
  --transition: all 0.3s ease;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primary-light: #f9f9f9;
    --primary-dark: #1a1a1a;
    --text-light: #333;
    --text-dark: #fff;
    --success: #4CAF50;
    --error: #f44336;
    --warning: #ff9800;
    --button-bg-light: #497285;
    /* Cor de fundo do botão no modo escuro */
    --button-bg-dark: #4ae3b5;
    /* Cor de fundo do botão no modo claro */
    --button-text-light: #ffffff;
    /* Cor do texto do botão no modo escuro */
    --button-text-dark: #000000;
    /* Cor do texto do botão no modo claro */
    --border-radius: 8px;
    --transition: all 0.3s ease;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}